.education {
    margin-top: 20px;
}

.li1{
    margin-left:10px;
}

.topic{
    margin-left:30px;
}

.Duration{
    color:grey;
    margin-left:30px;
}

.content{
    margin-left:35px ;
}

.skills{
    margin-left:30px;
}

.education-item {
    margin-bottom: 20px;
}

.education-item h3 {
    margin-bottom: 5px;
}

.education-item p {
    margin-bottom: 5px;
}

.education-item ul {
    list-style-type: disc;
    margin-left: 20px;
}

.education-item ul li {
    margin-bottom: 5px;
}
