.section {
    padding: 50px 0;
}

.container {
    max-width: 1100px;
    margin: 0 auto;
    padding: 0 20px;
}

.project-container {
    display: grid;
    gap: 20px;
}

.li1{
    margin-left:10px;
}

.Duration{
    color:grey;
}

.content{
    margin-left:35px ;
}

.div1{
    text-align:justify;
}

.role{
    margin-left: 30px;
}

.UI1{
    width: 700px;
    align-items: center;
}

.container2 {
    position: relative;
    width: 1160px;
    display: flex;
    flex-wrap: wrap;
    transform-style: preserve-3d;
    perspective: 500px;
    margin-left: -270px;
}
.container2 .box {
    position: relative;
    width: 275px;
    height: 275px;
    background: #000;
    transition: 0.5s;
    transform-style: preserve-3d;
    overflow: hidden;
    margin-right: 15px;
    margin-top: 45px;
}
.container2:hover .box {
    transform: rotateY(25deg);
}
.container2 .box:hover ~ .box {
    transform: rotateY(-25deg);
}
.container2 .box:hover {
    transform: rotateY(0deg) scale(1.25);
    z-index: 1;
    box-shadow: 0 25px 40px rgba(0,0,0,0.5);
}
.container2 .box .imgBx {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
.container2 .box .imgBx:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(180deg, #437ce6,#000);
    z-index: 1;
    opacity: 0;
    transition: 0.5s;
    mix-blend-mode: multiply;
}
.container2 .box:hover .imgBx:before {
    opacity: 1;
}
.container2 .box .imgBx img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.container2 .box .content2 {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    display: flex;
    padding: 20px;
    align-items: flex-end;
    box-sizing: border-box;
}
.container2 .box .content2 h2 {
    color: #fff;
    transition: 0.5s;
    text-transform: uppercase;
    margin-bottom: 5px;
    font-size: 20px;
    transform: translateY(200px);
    transition-delay: 0.3s;
}
.container2 .box:hover .content2 h2 {
    transform: translateY(0px);
}
.container2 .box .content2 p {
    color: #fff;
    transition: 0.5s;
    font-size: 14px;
    transform: translateY(200px);
    transition-delay: 0.4s;
}
.container2 .box:hover .content2 p {
    transform: translateY(0px);
}

.img2{
    width: 400px;
}

.project {
    background-color: #f9f9f9;
    padding: 20px;
    border-radius: 8px;
}

.project h3 {
    margin-bottom: 10px;
}

.project p {
    margin-bottom: 8px;
}

.project b {
    font-size: 18px;
}
